<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{381,1},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{571,1},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{761,1},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{1,190},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{191,190},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{381,190},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{571,190},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{761,191},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{1,379},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{191,379},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{381,379},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{571,379},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{761,381},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{1,568},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{190,568},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{380,568},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{379,1136},{186,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{570,568},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{760,571},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{190,757},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{1,758},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{379,757},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{569,757},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{759,760},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{379,946},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{190,947},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{1,948},{188,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{568,946},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{186,185}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{190,1137},{186,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{758,949},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{568,1135},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{568,1135},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_incognito.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,187}</string>
                <key>textureRect</key>
                <string>{{568,1135},{188,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>avatar.png</string>
            <key>size</key>
            <string>{949,1323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e132dfdcab84f542d302e6fa7c5afea0:4b480d61119b48381584b1c539a0774b:db3594e7e80887c479b4f04a5ee0989e$</string>
            <key>textureFileName</key>
            <string>avatar.png</string>
        </dict>
    </dict>
</plist>
