<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1988.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,460}</string>
                <key>spriteSourceSize</key>
                <string>{264,460}</string>
                <key>textureRect</key>
                <string>{{259,774},{264,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1996.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,265}</string>
                <key>spriteSourceSize</key>
                <string>{277,265}</string>
                <key>textureRect</key>
                <string>{{523,774},{277,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3977.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,259}</string>
                <key>spriteSourceSize</key>
                <string>{258,259}</string>
                <key>textureRect</key>
                <string>{{0,256},{258,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9949.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{128,0},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9950.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{378,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9959.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,259}</string>
                <key>spriteSourceSize</key>
                <string>{258,259}</string>
                <key>textureRect</key>
                <string>{{258,256},{258,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9962.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{516,256},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9963.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,264}</string>
                <key>spriteSourceSize</key>
                <string>{259,264}</string>
                <key>textureRect</key>
                <string>{{0,774},{259,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9964.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,259}</string>
                <key>spriteSourceSize</key>
                <string>{258,259}</string>
                <key>textureRect</key>
                <string>{{0,515},{258,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9965.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,259}</string>
                <key>spriteSourceSize</key>
                <string>{258,259}</string>
                <key>textureRect</key>
                <string>{{258,515},{258,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconmulti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{516,515},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconLobby.png</string>
            <key>size</key>
            <string>{800,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67bab99cc975355999f4297d2f3e14ef:9bad1b284f08f8bb6eb12c7aab64d2a5:0ff81d86cdab5b6784aff5fec282b962$</string>
            <key>textureFileName</key>
            <string>iconLobby.png</string>
        </dict>
    </dict>
</plist>
